@import "./constants.scss";

@keyframes fade_out {
  0% {
    opacity: 1;
    transform: perspective(200px) translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: perspective(200px) translate3d(0, 0, -200px);
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
    transform: perspective(200px) translate3d(0, 0, -200px);
  }
  100% {
    opacity: 1;
    transform: perspective(200px) translate3d(0, 0, 0);
  }
}

@keyframes start_the_game {
  0% {
    width: 50%;
    height: 200px;
  }
  100% {
    height: 90vh;
    width: 90vh;
  }
}
